*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic Coding', monospace;
   /*  font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif; */
    text-align: center;
}

body {
    color: white;
    background: black;
}

.container{
    width: 100vw;
    height: 100vh;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2rem;
 }

h2{
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 500;
    text-align: left;
}

.alternatives-container{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    border-radius:4px;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background: rgb(32, 32, 233);
    font-size: 1.5rem;
    min-width: 40rem;
    align-items: center;
}

.alternatives-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(108, 155, 226, 0.5);
    transform: scale(1.02);
    transition: transform 100ms;
}

.alternative-option{
    padding: 1.5rem 2.5rem;
    color: white;
}

.alternative-text{
    text-align: left;
    width: 80%;
}

.choicesList{
    flex-wrap: wrap;
    
}

/* cor para os botões de correto e incorreto */


.correct{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    border-radius:4px;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background: green;
    font-size: 1.5rem;
    min-width: 40rem;
    align-items: center;
}

.incorrect{
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    border-radius:4px;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background: red;
    font-size: 1.5rem;
    min-width: 40rem;
    align-items: center;
}
.no-show{
    display: none;
}
.show{
    display: flex;

}

#btnOk{
    width: 20%;
    height: 10%;
    display: flex;
    background: gray;
    justify-content: center;
    align-items: center;
}
/* Adicionando media */

@media screen and (min-width: 768px){
    .alternatives-container{
        min-width: 40rem;
    }
    
}

/* Lógica para o display */

.display_container{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 85px;
}

.display-item{
    text-align: center;
    font-size: 2rem;
}

.item-main-text{
    text-align: center;
}


/* Não esta aparecendo */

#progressBar{
    width: 25rem;
    height: 2rem;
    border: 0.3rem solid #19aa5a;
    margin-top: 1.5rem;
    border-radius: 25px;
}

#progressBarFull{
    height: 3.4rem;
    background-color: #19aa5a;
    width: 0%;
}

/* Modal */

.modalBackground {
    width: 100vw;
    height: 100vh;
    background: rgba(00, 00, 00, 0.5);   
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
    justify-content: center;
    align-items: center;
}

/*  e para aparecer o modal de vitoria ou perda */
.modalBackground.show {
    display: flex;
}


.displayModal {
    background: white;
    min-width: 10%;
    min-width: 10%;   
    text-align: center;
    padding: 35px; 
    box-shadow: 6px 6px 6px 6px rgba(00, 00, 00, .1);
}

/* animacao para aparecer o modal de perda ou vitoria */

@keyframes displays {
    from {
        opacity: 0;
        transform:translate3d(0 -60px 0) ;
    }
    to {
    opacity: 1;
    transform: translate3d(0 0 0);

    }
}

.show .displayModal {
    animation: displays .3s;
}
 
.displayModal button {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    color: white;
    background-color:#1157da;
    box-shadow: 0px 4px 4px 2px rgba(00, 00, 00, .3);
    border: none;
    border-radius: 20px;
    min-width: 50%;
    height: 35%;
    cursor: pointer;
}